{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #f7f7f7;">
            <h2 class="text-center mb-4">ساخت اتاق جدید</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">ثبت</button>
                <a href="{% url 'manager_room_list' %}" class="btn btn-secondary">بازگشت</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}