{% extends 'base.html' %}
{% block title %}مدیریت اتاق‌ها{% endblock %}
{% block content %}
<h2>مدیریت اتاق‌ها</h2>
<p>لیست اتاق‌های هتل آسمان</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr class="table-dark">
            <th>نام اتاق</th>
            <th>نوع اتاق</th>
            <th>قیمت</th>
            <th>عملیات</th>
    </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.title }}</td>
            <td>{{ room.room_type }}</td>
            <td>{{ room.price_per_night }}تومان</td>
            <td>
                <a href="{% url 'manager_room_detail' room.id %}" class="btn btn-primary">نمایش</a> |
                <a href="{% url 'manager_room_update' room.id %}" class="btn btn-secondary">ویرایش</a> |
                <a href="{% url 'manager_room_delete' room.id %}" class="btn btn-danger">حذف</a> |
                <a href="{% url 'manager_room_add' %}" class="btn btn-success">ساخت اتاق جدید </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
